In [259]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [260]:
train = pd.read_csv('train.csv')

In [261]:
train.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [262]:
train.shape

(10886, 12)

In [263]:
from sklearn.preprocessing import StandardScaler

In [264]:
train['datetime'][3].split()[0]

'2011-01-01'

In [265]:
train['datetime'][3].split()[0].split('-')

['2011', '01', '01']

In [266]:
yr = []
mth = []
day = []
for i in range(len(train)):
    y = int(train['datetime'][i].split()[0].split('-')[0])
    m = int(train['datetime'][i].split()[0].split('-')[1])
    d = int(train['datetime'][i].split()[0].split('-')[2])
    yr.append(y)
    mth.append(m)
    day.append(d)

In [267]:
train['year'] = yr

In [268]:
train['month'] = mth

In [269]:
train['day'] = day

In [270]:
train['datetime'][3].split()[1].split(':')[0]

'03'

In [271]:
hr = []
for i in range(len(train)):
    h = int(train['datetime'][i].split()[1].split(':')[0])
    hr.append(h)

In [272]:
train['hour'] = hr

In [273]:
train.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,day,hour
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,2011,1,1,0
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,2011,1,1,1
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,2011,1,1,2
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,2011,1,1,3
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,2011,1,1,4

In [274]:
train.drop('datetime', inplace = True, axis = 1)

In [275]:
train.head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,day,hour
0,1,0,0,1,9.84,14.395,81,0.0,3,13,16,2011,1,1,0
1,1,0,0,1,9.02,13.635,80,0.0,8,32,40,2011,1,1,1
2,1,0,0,1,9.02,13.635,80,0.0,5,27,32,2011,1,1,2
3,1,0,0,1,9.84,14.395,75,0.0,3,10,13,2011,1,1,3
4,1,0,0,1,9.84,14.395,75,0.0,0,1,1,2011,1,1,4

In [276]:
target = train['count']

In [277]:
train.drop('count', inplace = True, axis = 1)
train.drop('casual', inplace = True, axis = 1)
train.drop('registered', inplace = True, axis = 1)

In [278]:
train.head()
train.shape

(10886, 12)

In [279]:
X = train.values
y = target.values

In [280]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [243]:
'''from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)
sc_y = StandardScaler()
y_train = sc_y.fit_transform(y_train)'''

C:\vishal\anaconda\lib\site-packages\sklearn\utils\validation.py:429: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, _DataConversionWarning)
C:\vishal\anaconda\lib\site-packages\sklearn\preprocessing\data.py:586: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
C:\vishal\anaconda\lib\site-packages\sklearn\preprocessing\data.py:649: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)

In [322]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 150, random_state = 0)
regressor.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_split=1e-07, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=150, n_jobs=1, oob_score=False, random_state=0,
           verbose=0, warm_start=False)

In [323]:
y_pred = regressor.predict(X_test)

In [324]:
def get_rmsle(y_pred, y_actual):
    diff = np.log(y_pred + 1) - np.log(y_actual + 1)
    mean_error = np.square(diff).mean()
    return np.sqrt(mean_error)

score = get_rmsle(y_pred, y_test)
score

0.35514122043868085

In [325]:
test = pd.read_csv('test.csv')

In [326]:
test.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014

In [327]:
yr_t = []
mth_t = []
day_t = []
for i in range(len(test)):
    y = int(test['datetime'][i].split()[0].split('-')[0])
    m = int(test['datetime'][i].split()[0].split('-')[1])
    d = int(test['datetime'][i].split()[0].split('-')[2])
    yr_t.append(y)
    mth_t.append(m)
    day_t.append(d)

In [328]:
test['year'] = yr_t
test['month'] = mth_t
test['day'] = day_t

In [329]:
test.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,year,month,day
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027,2011,1,20
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000,2011,1,20
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000,2011,1,20
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014,2011,1,20
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014,2011,1,20

In [330]:
hr_t = []
for i in range(len(test)):
    h = int(test['datetime'][i].split()[1].split(':')[0])
    hr_t.append(h)

In [331]:
test['hour'] = hr_t

In [332]:
test.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,year,month,day,hour
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027,2011,1,20,0
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000,2011,1,20,1
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000,2011,1,20,2
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014,2011,1,20,3
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014,2011,1,20,4

In [333]:
test.drop('datetime', inplace = True, axis = 1)

In [334]:
p = test.values
#p = sc_X.fit_transform(p)

In [335]:
ans = regressor.predict(p)

In [336]:
ans

array([  11.46      ,    6.33333333,    6.91333333, ...,  151.92666667,
        116.79333333,   78.77333333])

In [337]:
test = pd.read_csv('test.csv')
test['count'] = ans
final_df = test[['datetime', 'count']].copy()
final_df.to_csv('submit.csv', index=False)

In [338]:
score = get_rmsle(y_pred, y_test)

In [339]:
score

0.35514122043868085